[submodule "models/ASP_model"]
	path = models/ASP_model
	url = git@github.com:krr-up/mapf-corridors-asp.git
[submodule "resources"]
	path = resources/instances
	url = git@github.com:krr-up/mapf-corridors-instances.git
