[submodule "resources"]
	path = resources/instances
	url = git@github.com:krr-up/mapf-corridors-instances.git
[submodule "encodings/asp/asprilo"]
	path = encodings/asp/asprilo
	url = git@github.com:potassco/asprilo-encodings.git
